<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="multishopApp.client.detail.title">Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="multishopApp.client.firstName" [ngbTooltip]="'multishopApp.client.help.firstName' | translate">First Name</span></dt>
                <dd>
                    <span>{{client.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.client.lastName">Last Name</span></dt>
                <dd>
                    <span>{{client.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.client.email">Email</span></dt>
                <dd>
                    <span>{{client.email}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.client.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{client.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.client.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{client.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.client.endDate">End Date</span></dt>
                <dd>
                    <span>{{client.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.client.documentId">Document Id</span></dt>
                <dd>
                    <span>{{client.documentId}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.client.documentType">Document Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'multishopApp.DocumentType.' + client.documentType}}">{{client.documentType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client-my-suffix', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
