<div>
    <h2 id="page-heading">
        <span jhiTranslate="multishopApp.modoEnvio.home.title">Modo Envios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-modo-envio-my-suffix" [routerLink]="['/modo-envio-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="multishopApp.modoEnvio.home.createLabel">
            Create a new Modo Envio
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="modoEnvios?.length === 0">
        <span jhiTranslate="multishopApp.modoEnvio.home.notFound">No modoEnvios found</span>
    </div>
    <div class="table-responsive" *ngIf="modoEnvios?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modoEnvio"><span jhiTranslate="multishopApp.modoEnvio.modoEnvio">Modo Envio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pedidoId"><span jhiTranslate="multishopApp.modoEnvio.pedido">Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modoEnvio of modoEnvios ;trackBy: trackId">
                <td><a [routerLink]="['/modo-envio-my-suffix', modoEnvio.id, 'view' ]">{{modoEnvio.id}}</a></td>
                <td>{{modoEnvio.modoEnvio}}</td>
                <td>
                    <div *ngIf="modoEnvio.pedidoId">
                        <a [routerLink]="['/pedido-my-suffix', modoEnvio.pedidoId , 'view' ]" >{{modoEnvio.pedidoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/modo-envio-my-suffix', modoEnvio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/modo-envio-my-suffix', modoEnvio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(modoEnvio)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
