<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-modo-envio-my-suffix-heading" jhiTranslate="multishopApp.modoEnvio.home.createOrEditLabel">Create or edit a Modo Envio</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="multishopApp.modoEnvio.modoEnvio" for="field_modoEnvio">Modo Envio</label>
                    <input type="text" class="form-control" name="modoEnvio" id="field_modoEnvio"
                           formControlName="modoEnvio"/>
                    <div *ngIf="editForm.get('modoEnvio')!.invalid && (editForm.get('modoEnvio')!.dirty || editForm.get('modoEnvio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('modoEnvio')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
