<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="modoEnvio">
            <h2><span jhiTranslate="multishopApp.modoEnvio.detail.title">Modo Envio</span> {{modoEnvio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="multishopApp.modoEnvio.modoEnvio">Modo Envio</span></dt>
                <dd>
                    <span>{{modoEnvio.modoEnvio}}</span>
                </dd>
                <dt><span jhiTranslate="multishopApp.modoEnvio.pedido">Pedido</span></dt>
                <dd>
                    <div *ngIf="modoEnvio.pedidoId">
                        <a [routerLink]="['/pedido-my-suffix', modoEnvio.pedidoId, 'view']">{{modoEnvio.pedidoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/modo-envio-my-suffix', modoEnvio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
