<div>
    <h2 id="page-heading">
        <span jhiTranslate="multishopApp.estadoPedido.home.title">Estado Pedidos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estado-pedido-my-suffix" [routerLink]="['/estado-pedido-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="multishopApp.estadoPedido.home.createLabel">
            Create a new Estado Pedido
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="estadoPedidos?.length === 0">
        <span jhiTranslate="multishopApp.estadoPedido.home.notFound">No estadoPedidos found</span>
    </div>
    <div class="table-responsive" *ngIf="estadoPedidos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="multishopApp.estadoPedido.idEstado">Id Estado</span></th>
            <th scope="col" ><span jhiTranslate="multishopApp.estadoPedido.descripcion">Descripcion</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estadoPedido of estadoPedidos ;trackBy: trackId">
                <td><a [routerLink]="['/estado-pedido-my-suffix', estadoPedido.id, 'view' ]">{{estadoPedido.id}}</a></td>
                <td>{{estadoPedido.idEstado}}</td>
                <td>{{estadoPedido.descripcion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/estado-pedido-my-suffix', estadoPedido.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estado-pedido-my-suffix', estadoPedido.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(estadoPedido)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
