<div>
    <h2 id="page-heading">
        <span jhiTranslate="multishopApp.modoPago.home.title">Modo Pagos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-modo-pago-my-suffix" [routerLink]="['/modo-pago-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="multishopApp.modoPago.home.createLabel">
            Create a new Modo Pago
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="modoPagos?.length === 0">
        <span jhiTranslate="multishopApp.modoPago.home.notFound">No modoPagos found</span>
    </div>
    <div class="table-responsive" *ngIf="modoPagos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="multishopApp.modoPago.idModoPago">Id Modo Pago</span></th>
            <th scope="col" ><span jhiTranslate="multishopApp.modoPago.descripcion">Descripcion</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let modoPago of modoPagos ;trackBy: trackId">
                <td><a [routerLink]="['/modo-pago-my-suffix', modoPago.id, 'view' ]">{{modoPago.id}}</a></td>
                <td>{{modoPago.idModoPago}}</td>
                <td>{{modoPago.descripcion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/modo-pago-my-suffix', modoPago.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/modo-pago-my-suffix', modoPago.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(modoPago)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
